[submodule "hardware/espressif/esp32"]
	path = hardware/espressif/esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "libraries/DHT_sensor_library_for_ESPx"]
	path = libraries/DHT_sensor_library_for_ESPx
	url = https://github.com/beegee-tokyo/DHTespOrg.git
[submodule "libraries/ESP8266_and_ESP32_Oled_Driver_for_SSD1306_display"]
	path = libraries/ESP8266_and_ESP32_Oled_Driver_for_SSD1306_display
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
[submodule "libraries/esp32-lcd"]
	path = libraries/esp32-lcd
	url = https://github.com/nhatuan84/esp32-lcd.git
[submodule "libraries/Adafruit_RGB_LCD_Shield_Library"]
	path = libraries/Adafruit_RGB_LCD_Shield_Library
	url = https://github.com/adafruit/Adafruit-RGB-LCD-Shield-Library.git
